<%= form_for @driver do |f| %>
  <div>
    <%= f.label :firstname, 'First Name' %>
    <%= f.text_field :fname%><br/>
  </div>

  <div>
    <%= f.label :lname, 'Last Name' %>
    <%= f.text_field :lname %><br/>
  </div>

  <%= f.fields_for :license do |lb| %>
    <div>
      <%= lb.label :number, 'Drivers License' %>
      <%= lb.text_field :number %><br/>
    </div>
    <div>
      <%= lb.label :state %>
      <%= lb.text_field :state %><br/>
    </div>
  <% end %>

  <%= f.submit "Creating Driver "%>

<% end %>